body {
    background-image: linear-gradient(to right, #fe634f 0%, #fe9800 100%);
    font-family: 'bokor', cursive;
    height: 100vh;
}

h1 {
    font-size: 3rem;
   text-align: center;
   font-family: 'bokor', cursive;

}

#buscador {
    max-width: 1100px;
    margin: 0 auto;
    padding: 4rem;
    background: white;
    margin-bottom: 2rem;
    border-radius: 0.35rem;
    font-family: 'lora';
}
   
.three-columns{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 0.35rem;
    font-size: 1.8rem;
    font-weight: 500;

}

.input {
    padding: 0.5rem;
    border-radius: 0.35rem;
    border-style: dashed;
}

.selector {
    padding: 0.5rem;
    border-radius: 0.35rem;
    border-style: dashed;
}


#resultado {
    padding: 1rem;
    background-color: white;
    max-width: 1100px;
    border-radius: 0.35rem;
    margin: 0 auto;
    height: auto; 
    
    
}

p {
    font-size: 1.2rem;
    font-family: 'lora';
    text-align: center;
    gap: 1rem;
}


.alerta {
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-size: 1.5rem;
}
.error {
    background-color: red;
}



.svg-github {
    height: 3rem;
    width: 3rem;
    cursor: pointer;


}

#svg-footer {
    display: flex;
    padding: 1rem;
   flex-direction: row-reverse;

}


@media (min-width: 750px) {

    #buscador {
        max-width: 63%;
    }
    .three-columns {
       font-size: 1rem;
    }

    .input {
        padding: 0.2rem;
    }

    .selector {
        padding: 0.2rem;
    }
    
    #resultado {
       max-width: 70%;

    }

}